
html,
body {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-image: url('../media/aquarium-david-clode.jpg');

    background-position: right;
    background-size: 100%;
}