
.container h3 {
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.container {
    padding: 25px;
}

.container .link > a:hover {
    text-decoration: none;
    background-color: #fcfcfc;
}


.container .link > a {
    padding: 2px;
    color: black;
    display: block;
    width: 100%;
}

.container .link.even > a {
    display: block;
    width: 100%;
}

.view-header {

}