
<div ng-controller="fishCtrl" class="row-correction">

    <div class="row">
        <div class="col-md-12">
            <button ng-click="createNew()" class="btn btn-success btn-new float-right"><i class="fas fa-plus-circle"></i>&nbsp;Create new</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="list-group">
                <div ng-repeat="fish in fishes|orderBy:'name'|orderBy:'family'">

                    <a href="#" class="view-list-item header" ng-if="shouldRenderHeader(fish)">
                        {{ fish.family }}
                    </a>

                    <a href="#" class="view-list-item" ng-click="selectFish(fish)">
                        {{ fish.name }}
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-8">

            <div class="row" ng-if="viewModel">
                <div class="col-md-8">

                    <table class="table bg-trans">
                        <tbody>
                        <tr>
                            <th scope="row">Name</th>
                            <td><input type="text" class="form-control" ng-model="viewModel.name" /></td>
                        </tr>

                        <tr>
                            <th scope="row">Latin name</th>
                            <td><input type="text" class="form-control" ng-model="viewModel.latin_name" /></td>
                        </tr>

                        <tr>
                            <th scope="row">Family</th>
                            <td><ng-property-selector ng-model="viewModel.family" property-type="Fish Family" /></td>
                        </tr>

                        <tr>
                            <th scope="row">Color</th>
                            <td><color-picker options="colorPickerSettings" ng-model="viewModel.color"></color-picker></td>
                        </tr>

                        <tr>
                            <th scope="row">Fins</th>
                            <td><input type="number" class="form-control" ng-model="viewModel.fins" /></td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" ng-click="saveFish()"><i class="far fa-save"></i>&nbsp;Save</button>
                    <button class="btn float-right" ng-click="changeImage()"><i class="fas fa-images"></i>&nbsp;Change image</button>

                </div>

                <div class="col-md-4">
                    <ng-image ng-model="viewModel.picture" />
                </div>
            </div>

        </div>
    </div>
</div>
